.slip {
    &-section {
        width: 100%;
        background: linear-gradient(180deg, $black 80%, $white 20%);
        padding-bottom: 20px;
        .container {
            margin: 0;
            position: relative;
            z-index: 1;
        }
    }
    &-card {
        background: #111112;
        box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 60px 80px 100px;
        max-width: 1605px;
        width: 95%;
        margin-left: auto;
        position: relative;
        overflow: hidden;
        &__content {
            display: flex;
            align-items: flex-start;
        }
        &.slider-card {
            .text {
                width: 50%;
            }
        }
    }
    @include breakpoint-max($xl) {
        &-card {
            padding: 40px 50px 80px;
        }
    }
    @include breakpoint-max($lg) {
        &-section {
            padding-bottom: 40px;
        }
        &-card {
            width: 100%;
            padding: 50px 24px;
            &__content {
                flex-direction: column;
            }
            &.slider-card {
                .text {
                    width: 100%;
                }
            }
        }
    }
    @include breakpoint-max($sm) {
        &-card {
            padding: 30px 16px;
        }
    }
}

.slider {
    padding-left: 20px;
    &__wrapper {
        margin-top: 50px;
        width: 40%;
        position: absolute;
        right: 0px;
    }
    @include breakpoint-max($lg) {
        width: 100%;
        padding-left: 0px;
        &__wrapper {
            position: relative;
            width: 100%;
            margin-top: 30px;
        }
    }
}

.slider {
    &_item {
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        img {
            margin: auto;
        }
    }
    &_arrows {
        display: flex;
        margin-top: 20px;
        cursor: pointer;
    }
    .prev {
        margin-right: 10px;
        img {
            transform: rotate(180deg);
        }
    }
}
