.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 15px;
  padding-bottom: 15px;
  background: white;
  .logo{
    width: 176px;
    img {
      max-width: 100%;
    }
  }
  .container {
    display: flex;
    align-items: center;
  }
  &_menu {
    width: 100%;
    max-width: 456px;
    background-color: $light-bg;
    margin-left: auto;
    border-radius: 70px;
    text-align: center;
    position: relative;
    &_link, &_drop-btn {
      line-height: 54px;
      color: $text-color;
      margin-left: 20px;
      margin-right: 20px;
      text-decoration: none;
    }
    &_drop {
      &-btn {
        border: none;
        padding: 0;
        background: none;

        &_icon {
          margin-left: 5px;
        }

        &:hover, &:focus {
          outline: 0;
        }
      }
      &-content {
        display: none;
        text-align: left;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        background: white;
        box-shadow: 2px 9px 14px rgba(21, 33, 100, 0.18);
        border-radius: 0 0 20px 20px;
        &_wrap {
          margin-left: 20px;
          margin-right: 20px;
          border-top: 1px solid #E7EFFB;
          padding: 20px 0 10px 20px;
          font-size: 0;
          text-align: center;
        }
        &_link {
          display: inline-block;
          color: $text-color;
          text-decoration: none;
          width: 180px;
          font-size: 16px;
          margin-bottom: 10px;
          text-align: left;
        }
      }
    }
    &_img {
      max-width: 100%;
      padding: 30px 25px 30px 35px;
      @include breakpoint-min($lg) {
        display: none !important;
      }
    }
    &.active-drop {
      background: #FFFFFF;
      border-radius: 20px 20px 0 0 ;
      box-shadow: 2px 1px 14px rgba(21, 33, 100, 0.1);
      z-index: 110;
      .header_menu_drop-content {
        display: block;
      }
      .header_menu_drop-btn {
        color: #01247E;
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
  @include breakpoint-max($lg){
    padding-top: 10px;
    padding-bottom: 10px;
    &_menu {
      padding-top: 19%;
      width: auto;
      max-width: 100%;
      margin-left: 0;
      border-radius: 20px;
      text-align: center;
      position: fixed;
      top: 50px;
      left: 15px;
      right: 15px;
      transform: translateX(200%);
      transition: .4s;
      z-index: 100;
      min-height: calc(100% - 60px);
      &.active {
        display: flex;
        flex-direction: column;
        transform: translateX(0%);
      }
      &_img {
        margin-top: auto;
        max-width: 340px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      &_link {
        display: block;
        line-height: 54px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 30px;
        text-decoration: none;
      }
      &_drop {
        &-btn {
          font-size: 30px;
        }
        &-content {
          text-align: center;
          position: relative;
          top: 0;
          box-shadow: none;
          background-color: #F3F6F8;
          &_wrap {
            background: #F3F6F8;

            margin-left: 0;
            margin-right: 0;
            border-top: none;
            padding: 0;
            font-size: 0;
          }
          &_link {
            display: block;
            text-decoration: none;
            width: 100%;
            margin-bottom: 10px;
            text-align: center;
          }
        }
      }
      &.active-drop {
        background: #F3F6F8;
        box-shadow: none;
      }
    }
  }
  @include breakpoint-max($lg) {
    .logo{
      width: 86px;
      height: 40px;
    }
  }
}

.overflow-drop {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
  @include breakpoint-max($lg){
    display: none!important;
  }
}

.toggle-button {
  background: white;
  border: none;
  margin-left: auto;
  border-top: 5px solid #BF0A30;
  border-bottom: 5px solid #BF0A30;
  font-size: 8px;
  text-transform: uppercase;
  color: $button-color;
  font-weight: 600;
  padding: 4px 0;
  width: 32px;
  line-height: 1;
  &:hover, &:active, &:focus {
    outline: none;
  }

  @include breakpoint-min($lg) {
    display: none !important;
  }
}

.noscroll {
  overflow: hidden;
}

