.wrapper {
  width: 100%;
  background-color: $container-bg;
  color: #000000;
}

.bg-1 {
  background-color: #1D2C25;
}

.bg-2 {
  background-color: #8DA8EC;
}

.bg-3 {
  background-color: #333333;
}

.bg-4 {
  background-color: #ED2528;
}

.bg-5 {
  background-color: #581C47;
}

.bg-6 {
  background-color: #EB7837;
}

.bg-7 {
  background-color: #225338;
}

.primary-button {
  background: $button-color;
  border-radius: 6px;
  width: 188px;
  height: 52px;
  color: #fff;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  border: none;
  outline: none;
  @include breakpoint-max($md) {
    font-size: 18px;
    height: 44px;
    line-height: 25px;
  }
}

.link {
  display: inline-block;
  text-decoration: underline;
  color: $button-color;
  cursor: pointer;
}

.main-screen {
  margin-top: 120px;
  position: relative;
  z-index: 4;

  &__img {
    max-width: 368px;
  }

  .main-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 68px;
    color: #000000;

    &_orange {
      color: $button-color;
      font-size: 70px;
      line-height: 122.9%;
      font-weight: 800;
      position: relative;

      &:after {
        width: 578px;
        margin-top: 20px;
        content: '';
        height: 3px;
        display: block;
        background: linear-gradient(to right, #FF891C, #ff8a1c00);
      }
    }
  }

  .undertitle {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 700px;
    font-weight: 300;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;

    &_after-text {
      margin-top: 30px;

      &_item {
        display: inline-flex;
        align-items: center;
        vertical-align: top;
        margin-right: 38px;

        img {
          margin-right: 10px;
        }

        .link {
          margin-left: 22px;
          line-height: 24px;
        }
      }

      &_modal {
        position: absolute;
        display: none;
        top: 220px;
        left: 0;
        width: 100%;
        max-width: 863px;
        border-radius: 20px;
        padding: 40px;
        background-color: #fff;
        box-shadow: 2px 2px 14px rgba(21, 33, 100, 0.18);

        p {
          margin: 0;
        }

        &_close {
          position: absolute;
          top: 15px;
          right: 20px;
          cursor: pointer;
        }

        @include breakpoint-max($lg) {
          top: 170px;
        }
        @include breakpoint-max($sm2) {
          top: 150px;
        }
        @include breakpoint-max($sm3) {
          top: 120px;
        }
      }
    }
  }

  &__bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 0;
    max-height: 736px;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  &__circle {
    width: 164px;
    height: 164px;
    background-color: #FF883E;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    bottom: 30px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    div {
      text-align: center;

      &:first-of-type {
        font-size: 16px;
        line-height: 22px;
        color: $black;
      }

      &:last-of-type {
        color: $dark-bg;
        font-weight: 800;
        font-size: 20px;
        line-height: 27px;
      }
    }
  }

  &__right {
    margin-left: auto;
    padding-left: 20px;
  }

  @include breakpoint-max($xl) {
    &__img {
      max-width: 308px;
      margin-left: 24px;
    }
  }
  @include breakpoint-max($lg) {
    margin-top: 65px;
    .main-title {
      font-size: 41px;
      max-width: 504px;
    }
    .undertitle {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__right {
      padding-left: 0;
    }

    &__bg {
      img {
        width: 122%;
      }
    }
  }
  @media (max-width: 767px) {
    &__right {
      display: none;
    }
    &__wrapper {
      &_after-text_item {
        font-size: 12px;
        width: 100%;
        margin-right: 0;

        img {
          width: 16px;
          margin-right: 6px;
        }

        .link {
          font-size: 11px;
        }
      }
    }
    .main-title {
      font-size: 26px;
      line-height: 35px;
      width: 250px;

      &_orange {
        font-size: 42px;
        line-height: 46px;
      }
    }
    &__img {
      max-height: 145px;
    }
  }
  @include breakpoint-max($sm) {
    .undertitle {
      font-size: 14px;
      line-height: 19px;
    }
    &__img {
      display: none;
    }
  }
  @include breakpoint-max($sm2) {
    .main-title {
      margin-bottom: 0;
    }
    &__wrapper_after-text {
      margin-top: 20px;
    }
    &__right {
      img {
        max-width: 100%;
      }
    }
  }
  @include breakpoint-max($sm3) {
    &__wrapper_after-text {
      margin-top: 6px;
    }
    &__right {
      position: relative;
      height: 112px;

      img {
        position: absolute;
        right: 0;
        top: 9px;
        width: 110px;
        max-width: 240px;
      }
    }

  }
}

.h2 {
  margin-top: 50px;
  font-weight: 600;
  margin-bottom: 30px;
  @include breakpoint-max($md) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.card {
  position: relative;
  height: 160px;
  width: 100%;
  background: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &-section {
    position: relative;
    z-index: 2;
    margin: 30px 0px;

    &.inner {
      margin-top: 90px;
    }
  }

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &-container {
    width: 100%;
    position: relative;
    height: 160px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  &-item {
    height: 100%;
    overflow: hidden;

    &_skewed {
      transform: skew(10deg, 0deg) translate(0, 0px);
    }

    &_reverse-skewed {
      transform: skew(-10deg, 0deg) translate(0, 0px);
    }
  }

  &-note {
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px 0;

    a {
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      color: #FF883E;
    }
  }

  &-icons {
    display: flex;
  }

  &-icon {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__img {
      background: #F3F6F8;
      height: 54px;
      width: 54px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }

    &__title {
      font-size: 16px;
      line-height: 22px;
    }

    &:first-of-type {
      margin-right: 50px;
    }
  }

  .svg-icon {
    display: block;
    margin-left: 10px;
    width: 44px;
    height: 44px;
  }

  &-logo {
    width: 225px;
    height: 90px;
    overflow: hidden;
    border-radius: 6px;
    text-align: center;
    display: none;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    &-cover {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &-img {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      height: 116px;
      position: absolute;
      width: 100%;
      right: -28px;
      object-fit: cover;
    }

    &_height {
      img {
        height: 160px;
      }
    }
  }

  &-bonus {
    width: 220px;
    color: white;
    font-size: 22px;
    font-weight: 600;
    background-color: $button-color;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    img {
      margin-left: 5px;
      width: 16px;
    }

    &:hover {
      color: white;
    }

    &__content {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-right: 20px;
    }

    &__text {
      height: 114px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      border-radius: 10px;
      padding: 14px 22px;
      background-color: $button-color;
      cursor: pointer;
      height: 60px;
    }

    .card-badge {
      color: $white;
      background-color: transparent;
      text-decoration: underline;
      font-size: 14px;
      line-height: 19px;
      text-transform: none;
      cursor: pointer;
    }
  }

  &-rate {
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #5DBC46;
    display: flex;
    align-items: center;

    &-number {
      //width: 70px;
      //height: 70px;
      position: relative;
      font-size: 50px;
      font-weight: 600;
      text-align: center;
      line-height: 70px;
      margin-right: 10px;
      //img {
      //    position: absolute;
      //    top: -2px;
      //    left: -2px;
      //}
      svg {
        width: 100%;
        height: 100%;
        display: none;

        path {
          stroke-width: 2.5;
          stroke-linecap: square;
          fill: none;
        }
      }

      .score_number {
        //position: absolute;
        //top: 2px;
        left: 0;
        width: 100%;
      }

      .score__bg {
        display: none;
        stroke: transparent;
      }

      .score_vector {
        stroke: #145072;
        animation: score_progress 1s ease-out forwards;
      }
    }
  }

  &-badge {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 9px 15px;
    background-color: $orange;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 19px 0 19px 0;

    img {
      margin-right: 15px;
    }

    &.red {
      background-color: #ED5F71;
    }

    &.blue {
      background-color: #6B68FC;
    }
  }

  &-text {
    max-width: 230px;
    width: 100%;

    &_blue {
      font-size: 18px;
      color: $button-color;
    }

    &_bold {
      font-weight: 600;
      line-height: 24px;
      font-size: 18px;
    }

    &_small {
      margin-top: 10px;
      font-size: 12px;
      position: relative;

      &_linkk {
        display: inline-block;
        color: $button-color;
        font-size: 12px;
        text-decoration: none;
        cursor: pointer;
      }

      &.active {
        .card-text_small_modal {
          display: block;
        }
      }

      &_modal {
        display: none;
        position: absolute;
        z-index: 10;
        top: 25px;
        left: 0;
        width: 570px;
        border-radius: 20px;
        font-size: 12px;
        text-align: left;
        line-height: 16px;
        padding: 30px;
        background-color: #fff;
        box-shadow: 2px 2px 14px rgba(21, 33, 100, 0.18);

        &_close {
          position: absolute;
          top: 10px;
          right: 15px;
          cursor: pointer;
        }
      }
    }
  }

  &-ratet {
    display: flex;
    align-items: center;

    img {
      margin-top: 6px;
      margin-bottom: 8px;
    }
  }

  &-num {
    font-weight: bold;
    font-size: 50px;
    line-height: 68px;
    color: #000000;
    margin-right: 10px;
  }

  &_small {
    max-width: 764px;
    background: #F3F6F8;
    border-radius: 10px;
    margin: 30px auto;
    height: 80px;
    padding: 15px 30px;

    .card-logo {
      width: 104px;
      height: auto;
      display: inline-block;
    }

    .card-bonus {
      height: 50px;
      width: 200px;
      line-height: 50px;
    }

    .card-num {
      font-size: 36px;
      line-height: 49px;
    }
  }

  @include breakpoint-max($xl) {
    height: 100px;
    &-bonus {
      font-size: 18px;
      line-height: 30px;
      width: 180px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-text {
      max-width: 200px;
    }
    &-logo {
      width: 160px;
      height: 64px;
    }
    &-badge {
      padding: 4px 12px;
      font-size: 10px;
      border-radius: 10px 0 10px 0;
      top: 2px;
      left: 2px;

      img {
        width: 12px;
      }
    }
    &-text {
      &_blue {
        font-size: 14px;
      }

      &_bold {
        font-size: 14px;
        line-height: 20px;
      }
    }
    &-ratet {
      font-size: 14px;
    }
    &-rate {
      &-number {
        //width: 50px;
        //height: 50px;
        font-size: 30px;
        line-height: 50px;
      }
    }
  }
  @include breakpoint-max($lg) {
    &-section.inner {
      margin-top: 80px;
    }
    &-section {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    &-icon {
      &:first-of-type {
        margin-right: 10px;
      }

      &__title {
        font-size: 12px;
      }
    }
    &-bonus {
      width: 130px;
      font-size: 14px;
    }
  }
  @media (max-width: 767px) {
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: #fff;
    border: 1px solid rgba(20, 80, 116, 0.4);
    margin-bottom: 0;
    &_small {
      background: #F3F6F8;
      padding: 20px;
      border: none;
      .card-ratet {
        width: auto;
        align-items: flex-start;
      }
      .card-num {
        font-size: 32px;
        line-height: 28px;
      }
      .text-small {
        font-size: 10px;
      }
      .rating-list {
        margin-top: 0;
        margin-bottom: 2px;
      }
    }
    &-section {
      margin-top: 10px;
      margin-bottom: 20px;

      &.inner {
        margin-top: 70px;
      }
    }
    &-container {
      height: 130px;
    }
    &-logo {
      margin-right: auto;
      width: 110px;
      height: 54px;
      display: inline-block;
    }
    &-rate {
      &-number {
        position: absolute;
        top: 3px;
        right: -55px;
        width: 36px;
        height: 36px;
        font-size: 14px;
        line-height: 34px;

        svg {
          display: inline-block;
        }

        .score_number {
          position: absolute;
          top: 1px;
        }

        //img {
        //    width: 34px;
        //    height: 34px;
        //    top: -1px;
        //    left: -1px;
        //}

      }
    }
    &-ratet {
      width: 90px;
      font-size: 10px;
      position: absolute;
      top: 26px;
      right: 61px;
      text-align: left;
    }
    &-text {
      max-width: 100%;
      margin-top: 15px;

      &_blue {
        display: none;
      }

      &_bold {
        background-color: $light-bg;
        border-radius: 5px;
        padding: 9px;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
      }

      &_small {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        text-align: center;
      }
    }
    &-bonus {
      line-height: 42px;
      margin-top: 16px;
      width: 100%;
    }
    &-badge {
      img {
        margin-right: 6px;
      }
    }
    &-icons {
      order: 10;
      margin-top: 15px;
      justify-content: space-between;
      width: 100%;
    }
    &-icon {
      flex-direction: row;

      &__img {
        width: 29px;
        height: 29px;
        margin-bottom: 0;
        margin-right: 6px;

        img {
          width: 17px;
        }
      }
    }
  }
  @include breakpoint-max($sm2) {
    position: relative;
    flex-direction: column;
    height: auto;
    width: 100%;
    &-container {
      border-radius: 10px;
      height: 216px;
    }
    &-item {
      width: 100%;

      &_skewed {
        transform: none;
      }

      &_reverse-skewed {
        transform: none;
      }
    }
    &_small {
      .card-ratet {
        right: 20px;
        top: 30px;
      }

      .card-bonus {
        width: 100%;
        margin-top: 30px;
      }

      //.card-num {
      //  font-size: 32px;
      //  line-height: 44px;
      //  margin-right: 6px;
      //}
    }
    &-text {
      &_small {
        &_modal {
          width: auto;
          top: 15px;
          left: 0;
          right: 0;
        }
      }
    }


  }
  @include breakpoint-max($xs3) {
    &-logo {
      width: 120px;
      height: 50px;
      margin-top: 7px;
    }
  }
  @media (max-width: 340px) {
    &-bonus {
      line-height: 36px;
      font-size: 13px;

    }
  }
}

.text {
  margin: 40px 0px;
  @include breakpoint-max($md) {
    margin-bottom: 30px;
  }

  h4 {
    margin-top: 30px;
  }

  h5 {
    margin-top: 40px;
  }

  &_content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    &_button-wrap {
      display: flex;
      align-items: center;
      margin-top: 40px;
      @include breakpoint-max($md) {
        margin-top: 20px;
      }

      button {
        flex-shrink: 0;
      }

      .sections-divider {
        margin: 0 0 0 40px;
        @include breakpoint-max($md) {
          margin-left: 10px;
        }
      }
    }

    &_blue {
      background-color: rgba(231, 240, 255, 0.6);
      position: relative;
      border-radius: 0 19px 19px 0;
      padding: 30px 25px;
      margin-top: 20px;
      @include breakpoint-max($md) {
        padding: 15px 20px;
      }

      &_wrap {
        margin-left: auto;
        margin-right: auto;
        max-width: 764px;

      }

      p {
        font-weight: bold;
        margin: 0;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: $button-color;
        width: 5px;
        border-radius: 0 5px 5px 0;
      }
    }

    .primary-button {
      font-size: 16px;
    }
  }
}


.form {
  background: $light-bg;
  border-radius: 20px;
  width: 100%;
  padding: 30px 98px;
  margin: 40px 0 80px;

  &-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type {
      margin-top: 30px;
    }
  }

  &__col {
    width: 49%;
    height: 100%;
    display: flex;
  }

  &-input {
    background: white;
    border-radius: 6px;
    outline: none;
    border: none;
    padding: 15px 35px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: $button-color;
    width: 100%;
    height: 54px;
    margin-top: 10px;

    &::placeholder {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 40, 104, 0.8);
    }

    &__wrapper {
      width: 100%;
      height: 100%;
    }

    &.textarea {
      resize: none;
      height: 116px;
    }
  }

  .privacy-policy {
    max-width: 372px;

    a {
      color: $button-color;
      text-decoration: none;
      font-size: inherit;
      font-weight: inherit;
    }
  }

  @include breakpoint-max($lg) {
    padding: 20px 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    .primary-button {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  @include breakpoint-max($sm) {
    &__row {
      flex-direction: column;

      &:last-of-type {
        flex-direction: column-reverse;
        margin-top: 20px;
      }
    }
    &__col {
      width: 100%;
    }
    &-input {
      padding: 10px;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.sections-divider {
  width: 100%;
  height: 3px;
  background: #E7EFFB;
  margin: 40px auto;
  @media (max-width: 991px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.top-card {
  background: white;
  border: 1px solid rgba(20, 80, 116, 0.4);
  border-radius: 10px;
  padding: 4px;
  width: 24%;

  .primary-button {
    width: 100%;
    margin-top: 20px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 6px;

    p {
      margin-top: 10px;
    }

    a {
      text-decoration: none;
      margin-top: auto;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;

      img {
        margin-left: 10px;
      }
    }
  }

  &__img {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    height: 140px;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 27px;

    span {
      &:first-of-type {
        font-weight: 700;
      }
    }
  }

  &__smtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__rate {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;

    img {
      margin-left: 6px;
    }
  }

  &__casino-logo {
    background: #1D2C25;
    border-radius: 4px;
    overflow: hidden;
    width: 66px;
    height: 39px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  @include breakpoint-max($lg) {
    width: 260px;
    margin-right: 20px;
    &__container {
      position: absolute;
      top: 0px;
      margin-top: 0;
    }
    &__row {
      margin-top: 5px;
    }
    &__overflow {
      overflow: scroll;
      position: relative;
      height: 260px;
    }
    &__img {
      height: 140px;
    }
    &__title {
      font-size: 18px;
      line-height: 25px;
      margin-top: 10px;
    }
    &__smtitle {
      font-size: 14px;
      line-height: 19px;
    }
    &__casino-logo {
      width: 48px;
      height: 32px;
    }
    &__rate {
      font-size: 14px;
      line-height: 19px;
    }
    .primary-button {
      margin-top: 15px;
    }
    &__content p {
      max-height: 66px;
      overflow: hidden;
    }
  }
  @include breakpoint-max($md) {
    &__overflow {
      height: 250px;
    }
  }
}

.best-banner {
  &__container {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: 48%;
    height: 221px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &_week {
      background-image: url('../../img/bests/week-bg.png');
    }

    &_month {
      background-image: url('../../img/bests/month-bg.png');
    }
  }

  &__title {
    font-weight: 900;
    font-size: 50px;
    line-height: 68px;
    text-transform: uppercase;
  }

  &__smtitle {
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
  }

  &__text {
    max-width: 228px;
  }

  &__img {
    position: absolute;
    height: 120%;
    bottom: 0;
    right: -30px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @include breakpoint-max($sm) {
    &__container {
      flex-direction: column;
    }
    &__item {
      width: 100%;
      height: 210px;

      &:last-of-type {
        margin-top: 60px;
      }
    }
    &__title {
      font-size: 40px;
      line-height: 55px;
    }
    &__smtitle {
      font-size: 28px;
      line-height: 38px;
    }
    &__img {
      right: -10px;
      height: 120%;
    }
    &__text {
      max-width: 260px;
    }
  }
  @include breakpoint-max($sm3) {
    &__item {
      width: 100%;
      height: 130px;

      &:last-of-type {
        margin-top: 40px;
      }
    }
    &__title {
      font-size: 20px;
      line-height: 27px;
    }
    &__smtitle {
      font-size: 14px;
      line-height: 19px;
    }
    &__img {
      right: -8px;
      height: 110%;
    }
    &__text {
      max-width: 140px;
    }
  }
}

.rating-list {
  margin: 4px 0 6px;
  padding: 0;
  font-size: 0;

  &[data-rate='5'] {
    li:nth-child(-n+5) {
      &.fa-star {
        color: #FD9904;
      }
    }
  }

  &[data-rate='4'] {
    li:nth-child(-n+4) {
      &.fa-star {
        color: #FD9904;
      }
    }
  }

  &[data-rate='3'] {
    li:nth-child(-n+3) {
      &.fa-star {
        color: #FD9904;
      }
    }
  }

  &[data-rate='2'] {
    li:nth-child(-n+2) {
      &.fa-star {
        color: #FD9904;
      }
    }
  }

  &[data-rate='1'] {
    li:nth-child(1) {
      &.fa-star {
        color: #FD9904;
      }
    }
  }

  li {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding-right: 2px;
    padding-left: 2px;

    &:before {
      content: none;
    }

    &:hover {
      color: #FD9904;
    }
  }
}

.fa-star {
  color: #C7CEE1;
  @include breakpoint-max($lg) {
    svg {
      width: 12px;
      height: 12px;
    }
  }
}


@-webkit-keyframes score_progress {
  0% {
    stroke-dasharray: 0 100
  }
}

@keyframes score_progress {
  0% {
    stroke-dasharray: 0 100
  }
}

.tags {
  &-wrapper {
    display: flex;
    @include breakpoint-max($sm) {
      height: 36px;
    }
  }

  &-item {
    padding: 10px 30px;
    background: #FFFFFF;
    border: 1px solid #145074;
    box-sizing: border-box;
    border-radius: 60px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #002868;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  @include breakpoint-max($sm) {
    &-item {
      padding: 8px 16px;
      font-size: 14px;
      line-height: 18px;
      margin-right: 8px;
    }
  }
}

.details {
  overflow-x: scroll;
  padding-bottom: 30px;

  &-table {
    background: #FFFFFF;
    border: 1px solid rgba(20, 80, 116, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__title {
      width: 40%;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
    }

    &__desc {
      width: 60%;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
    }

    &__col {
      width: 50%;
      display: flex;
      padding: 16px;

      &:not(:last-of-type) {
        border-right: 1px solid #144f748a;
      }
    }

    &__row {
      display: flex;
      width: 100%;

      &:not(:last-of-type) {
        border-bottom: 1px solid #144f748a;
      }
    }

    span {
      background: #F3F6F8;
      border-radius: 20px;
      padding: 4px 12px;
      display: inline-block;

      &:not(:last-child) {
        margin-right: 6px;
      }

      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }

    @include breakpoint-max($lg) {
      width: 1156px;
      overflow-x: scroll;
    }
    @include breakpoint-max($sm) {
      width: 950px;
      &__title {
        font-size: 14px;
        line-height: 19px;
      }
      &__desc {
        font-size: 14px;
        line-height: 19px;
      }
      &__col {
        padding: 10px;
      }
    }
  }
}

.pros-cons {
  display: flex;
  justify-content: space-between;

  &__col {
    width: 49%;
    max-width: 470px;
  }

  &__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
  }

  &__desc {
    display: flex;
    border-radius: 0px 10px 10px 0px;
    margin: 20px 0px;

    &::before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 136px;
      border-radius: 0px 5px 5px 0px;
    }

  }

  .pros-list {
    background: rgba(66, 163, 6, 0.1);

    &::before {
      background: #42A306;
    }
  }

  .cons-list {
    background: rgba(237, 48, 48, 0.1);

    &::before {
      background: #ED3030;
    }
  }

  ul {
    padding-left: 16px;
    margin: 0px;

    li {
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
      margin: 15px 0;
      max-width: 316px;

      &:before {
        display: none;
      }

      img {
        height: 12px;
        width: 12px;
        border-radius: unset;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin: 6px 10px 0px 0px;
      }
    }

  }

  @include breakpoint-max($md) {
    flex-direction: column;
    &__col {
      width: 100%;
      max-width: 100%;

      &:first-of-type {
        margin-bottom: 20px;
      }
    }
    &__desc {
      margin: 10px 0px;

      &::before {
        height: 112px;
      }
    }
    ul {
      li {
        max-width: 100%;
        font-size: 14px;
        line-height: 19px;
        margin: 10px 0px;
      }
    }
  }
}

.mob {
  display: none;
  @media (max-width: 767px) {
    display: inline-block;
  }
}

.mob-hide {
  @media (max-width: 767px) {
    display: none;
  }
}