.main-screen {
    padding-top: 92px;
    position: relative;
    z-index: 4;
    background-color: $black-bg;
    background-image: url(/img/main-screen-bg.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    .btn {
        margin-top: 54px;
    }
    &__img {
        max-width: 368px;
    }
    &__wrapper {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 190px 0px;
    }
    &__left {
        max-width: 838px;
    }
    @include breakpoint-max($md) {
        padding-top: 68px;
        background-size: cover;
        &__wrapper {
            padding: 80px 0px 160px;
        }
    }
}

.scroll-down {
    width: 54px;
    height: 54px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.socials {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: fit-content;
    padding: 30px 0px;
    p {
        font-family: $font-text;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: $white;
    }
    a {
        display: block;
        width: 38px;
        height: 38px;
        margin-left: 8px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.glass-card {
    background-image: url(../img/glassmorf-dark-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    &__item {
        width: 30%;
    }
    &__title {
        color: $primary;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        text-transform: uppercase;
        font-family: $font-title-sm;
    }
    &__list {
        padding-left: 0px;
        li {
            margin-bottom: 10px;
            color: $white;
            font-size: 18px;
            line-height: 24px;
            display: flex;
            &::before {
                content: '';
                display: block;
                width: 9px;
                height: 2px;
                background-color: $primary;
                margin-right: 10px;
                margin-top: 12px;
            }
        }
    }
}

.partners {
    display: flex;
    padding: 30px;
    background-image: url(/img/partners-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 60px;
    &__logo {
        width: 200px;
        height: 90px;
        margin-right: 10px;
        img {
            height: 100%;
        }
    }
}

.white-section {
    background-color: $white;
    position: relative;
    &__wrapper {
        padding: 60px 0px;
    }
    &__img-line {
        margin-bottom: 54px;
        img {
            object-fit: cover;
        }
    }
    &.vision {
        padding: 80px 0px 134px;
        .white-section__wrapper {
            padding: 0px 0px 104px;
            max-width: 740px;
        }
        .our-vision-img {
            position: absolute;
            right: 0px;
            height: 427px;
            top: 50%;
            transform: translateY(-50%);
            width: 714px;
            img {
                height: 100%;
            }
        }
        @include breakpoint-max($lg) {
            padding: 80px 0px 0px 0px;
            .our-vision-img {
                position: static;
                transform: translateY(0%);
            }
            .white-section__wrapper {
                padding: 0px 0px 34px;
            }
        }
    }
    @include breakpoint-max($lg) {
        &__img-line {
            height: 34px;
            img {
                height: 100%;
            }
        }
    }
}

.black-section {
    background-color: $black;
    &__wrapper {
        padding: 60px 0px 80px;
    }
}