.main-screen {
    padding-top: 92px;
    position: relative;
    z-index: 4;
    background-color: $black-bg;
    position: relative;
    .btn {
        margin-top: 54px;
    }
    &__wrapper {
        z-index: 1;
        display: flex;
        align-items: center;
        padding: 190px 0px;
    }
    &__left {
        max-width: 838px;
    }
    &__bg {
        position: absolute;
        width: 60%;
        height: 100%;
        right: 0px;
        bottom: 0px;
        z-index: -1;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    @include breakpoint-max($lg) {
        padding-top: 68px;
        background-size: cover;
        &__wrapper {
            padding: 80px 0px 160px;
        }
        &__bg {
            width: 100%;
            left: 0px;
        }
    }
}

.logo {
    width: 272px;
    img {
        max-width: 100%;
    }
    @include breakpoint-max($md) {
        width: 217px;
    }
}

.anchor {
    position: relative;
    top: -100px;
}

.scroll-down {
    width: 54px;
    height: 54px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -27px;
    z-index: 10;
    cursor: pointer;
    animation: down ease-out 2.5s infinite;
    &:hover {
        animation-play-state: paused;
    }
}

.socials {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: fit-content;
    padding: 30px 0px;
    p {
        font-family: $font-text;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: $white;
    }
    a {
        display: block;
        width: 38px;
        height: 38px;
        margin-left: 8px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.glass-card {
    background-image: url(../img/glassmorf-dark-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    &__item {
        width: 30%;
    }
    &__title {
        color: $primary;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        text-transform: uppercase;
        font-family: $font-title-sm;
    }
    &__list {
        padding-left: 0px;
        margin-top: 16px;
        li {
            margin-bottom: 10px;
            color: $white;
            font-size: 18px;
            line-height: 24px;
            display: flex;
            &::before {
                content: '';
                flex-shrink: 0;
                display: block;
                width: 9px;
                height: 2px;
                background-color: $primary;
                margin-right: 10px;
                margin-top: 12px;
            }
        }
    }
    @include breakpoint-max($lg) {
        background-image: none;
        width: 100%;
        overflow-x: scroll;
        padding: 0px 0px 15px 0px;
        &__item {
            min-width: 280px;
            padding: 30px 16px;
            margin-right: 20px;
            border-radius: 10px;
            background-image: url(../img/glassmorf-dark-bg-sm.png);
        }
    }
}

.partners {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-image: url(../img/partners-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-top: 60px;
    &__logo {
        width: 200px;
        height: 90px;
        margin-right: 10px;
        flex-shrink: 0;
        text-align: center;
        img {
            height: 100%;
        }
    }
    @include breakpoint-max(1600px) {
        overflow-x: scroll;
    }
    @include breakpoint-max($lg) {
        justify-content: flex-start;
    }
    @include breakpoint-max($md) {
        padding: 15px 10px;
        margin-top: 40px;
        &__logo {
            width: 140px;
            height: 50px;
            margin-right: 6px;
        }
    }
}

.white-section {
    background-color: $white;
    position: relative;
    overflow-x: hidden;
    &__wrapper {
        padding: 60px 0px;
    }
    &__img-line {
        margin-bottom: 54px;
        display: flex;
        animation: ticker-kf 20s infinite linear;
        img {
            flex-shrink: 0;
        }
    }
    &.vision {
        padding: 80px 0px 134px;
        .white-section__wrapper {
            padding: 0px 0px 104px;
            max-width: 740px;
        }
        .our-vision-img {
            position: absolute;
            right: 0px;
            height: 427px;
            top: 50%;
            transform: translateY(-50%);
            max-width: 714px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 10px 0px 0px 10px;
            }
        }
        @include breakpoint-max(1700px) {
            padding: 80px 0px;
            .white-section__wrapper {
                width: 50%;
                padding-right: 16px;
            }
            .our-vision-img {
                width: 50%;
            }
        }
        @include breakpoint-max($lg) {
            padding: 80px 0px 0px 0px;
            .our-vision-img {
                position: static;
                transform: translateY(0%);
                max-width: 100%;
                width: 100%;
                height: 100%;
                img {
                    border-radius: 10px 10px 0px 0px;
                }
            }
            .white-section__wrapper {
                padding: 0px 0px 34px;
                width: 100%;
            }
        }
        @include breakpoint-max($lg) {
            padding: 30px 0px 0px 0px;
        }
    }
    @include breakpoint-max($lg) {
        &__img-line {
            height: 34px;
            margin-bottom: 32px;
            img {
                height: 100%;
            }
        }
    }
    @include breakpoint-max($md) {
        &__wrapper {
            padding: 30px 0px;
        }
    }
}

.black-section {
    background-color: $black;
    overflow-x: hidden;
    &__wrapper {
        padding: 60px 0px 80px;
    }
    @include breakpoint-max($md) {
        &__wrapper {
            padding: 30px 0px;
        }
    }
}

@keyframes ticker-kf {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-1400px, 0, 0);
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(15px);
    }
}
