.footer {
    background: $black;
    padding: 40px 0px 20px;
    .copyright {
        font-size: 18px;
        line-height: 25px;
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        width: 100%;
    }
    &-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &_menu {
        margin-left: auto;
        text-align: center;
        display: flex;
        margin-right: -20px;
        &_link {
            margin-left: 20px;
            margin-right: 20px;
            text-decoration: none;
            font-family: $font-text;
            position: relative;
            z-index: 3;
            list-style: none;
            &::before {
                content: "";
                position: absolute;
                display: block;
                width: 0%;
                height: 12px;
                bottom: 0px;
                left: 0;
                z-index: 2;
                background-color: rgba(255, 0, 0, 0.75);
                transition: transform 0.3s ease;
                transition: width .4s cubic-bezier(.51, .18, 0, .88) .1s;
            }
            &:hover {
                &::before {
                    width: 100%;
                    left: 0px;
                }
            }
            a {
                position: relative;
                z-index: 4;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: $white;
                &:hover {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
    }
    @include breakpoint-max($xl) {
        &_menu {
            &_link {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    @include breakpoint-max($lg) {
        &-row {
            flex-direction: column;
        }
        &_menu {
            margin-top: 30px;
            padding-left: 0px;
            margin-left: 0;
            margin-right: 0;
            flex-wrap: wrap;
            justify-content: space-evenly;
            &_link {
                margin-bottom: 20px;
            }
        }
        .socials {
            margin: 45px auto;
        }
    }
    @include breakpoint-max($sm) {
        &-row {
            flex-direction: column;
        }
        &-col {
            width: 100%;
        }
        &__policy {
            margin-top: 20px;
        }
        .copyright {
            margin: 0;
            font-size: 14px;
            line-height: 19px;
        }
    }
}
