.error-page {
    width: 100vw;
    height: 100vh;
    min-height: 700px;
    max-height: 1600px;
    position: relative;
    background-color: $black;
    overflow-x: hidden;
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1156px;
        margin: 0 auto;
        height: 100%;
        padding: 0px 24px;
    }
    &__bg {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 80%;
        z-index: 0;
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        z-index: 2;
        height: 100%;
        &> img{
            max-height: 185px;
        }
    }
    &__header {
        padding: 30px 0px;
        width: 100%;
        position: relative;
        z-index: 2;
        .logo {
            margin-right: auto;
        }
    }
    &__text {
        display: flex;
        align-items: center;
        margin: 60px auto;
        .title {
            font-size: 50px;
            line-height: 80%;
            margin-right: 15px;
        }
        .title-sm {
            font-size: 28px;
            line-height: 37px;
            font-weight: 900;
            color: $white;
            margin-top: 12px;
        }
    }
    .btn {
        color: $white;
    }
    @include breakpoint-max($md) {
        &__content {
            img {
                width: 100%;
            }
        }
        &__text {
            flex-wrap: wrap;
            justify-content: center;
            .title-sm {
                margin-top: 10px;
            }
        }
    }
}
