h1 {
  font-size: 44px;
  line-height: 1.38;
}
.h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  @include breakpoint-max($md){
    font-size: 30px;
    margin-bottom: 20px;
  }
}
h2 {
  font-size: 34px;
  line-height: 1.375;
  @include breakpoint-max($md){
    font-size: 28px;
  }
}
h3 {
  font-size: 30px;
  line-height: $line-height;
  @include breakpoint-max($md){
    font-size: 24px;
  }
}
h4 {
  font-size: #{$h4-font-size}px;
  line-height: $line-height;
}
h5 {
  font-size: #{$h5-font-size}px;
  line-height: $line-height;
}
h6 {
  font-size: #{$h6-font-size}px;
  line-height: $line-height;
}

ul{
  margin: 5px 0;
  color: $text-color;
  //list-style: none;
  padding-left: 20px;
  li{
      margin-bottom: 10px;
      //display: flex;
      //align-items: center;
      //&:before{
      //    content: '';
      //    display: block;
      //    background: $button-color;
      //    width: 8px;
      //    height: 8px;
      //    border-radius: 50%;
      //    margin-right: 10px;
      //}
  }
}

p{
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
  margin: 20px 0;
  @include breakpoint-max($md){
    font-size: 14px;
    line-height: 18px;
  }
}
