// fonts
$font-title: 'Archivo',
sans-serif;
$font-title-sm: 'Maven Pro',
sans-serif;
$font-text: 'Red Hat Display',
sans-serif;
$root-font-size: 16;
$h1-font-size: $root-font-size * 2.5 !default;
$h2-font-size: $root-font-size * 2 !default;
$h3-font-size: $root-font-size * 1.75 !default;
$h4-font-size: $root-font-size * 1.5 !default;
$h5-font-size: $root-font-size * 1.25 !default;
$h6-font-size: $root-font-size !default;
$line-height: 1.2;
// grid
$col-count: 12 !default;
$grid-gutter: 30px !default;
$container-xl: 1295px !default;
$container-lg: 960px !default;
$container-md: 720px !default;
$container-sm: 540px !default;
$xs: 0px !default;
$xs1: 280px !default;
$xs2: 320px !default;
$xs3: 360px !default;
$xs4: 375px !default;
$sm3: 411px !default;
$sm2: 500px !default;
$sm: 580px !default;
$md: 768px !default;
$lg: 992px !default;
$xl: 1200px !default;
// colors
$placeholder-color: #363946;
$white: #fff;
$black: #000000;
$button-color: #002868;
$container-bg:#FFFFFF;
$input-bg: #111112;
$text-color: #000000;
//
$btn-bg: #FF0000;
$btn-color: #ffffff;
$black-bg: #000000;
$primary: #FF0000;