@import '_reboot';
@import '_variables.scss';
@import '_mixins.scss';
@import '_functions.scss';
@import '_typo';
@import '_grid';
@import '_base';
// blocks
@import './src/blocks/header/_header.scss';
@import './src/blocks/footer/_footer.scss';
@import './src/blocks/form-section/_form-section.scss';
@import './src/blocks/slip-section/_slip-section.scss';
//pages
@import './src/blocks/homepage/_homepage.scss';