// Это диспетчер подключений, тут не должно быть ничего, кроме импортов

// Глобальные подключения
@import '_reboot';
@import '_variables.scss';
@import '_mixins.scss';
@import '_functions.scss';
@import '_typo';
@import '_grid';
@import '_base';

// БЭМ-блоки. Один БЭМ-блок = 1 файл. ВСЕГДА.
@import './src/blocks/page-header/_page-header.scss';
@import './src/blocks/page-footer/_page-footer.scss';
@import './src/blocks/info-block/_info-block.scss';

//pages
@import './src/blocks/homepage/_homepage.scss';
@import './src/blocks/review/_review.scss';
